* {
   box-sizing: border-box; 
}


body {
  height: 100vh;
  background: linear-gradient(to bottom right, #f6aed3, #e74c3c);
  overflow-y: hidden;
}


.search-container {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.search-container input {
  height: 30px;
  width: 200px;
  border: none; 
  outline: none; 
  background-color: #e9d9d975;
  color: #050505b3; 

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:absolute;
  width: 200px;
 
  background-color: #cbb6b684;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul li {
  cursor: pointer;
}
ul li:hover {
 background-color: rgb(217, 49, 12);
}
